Transaction Successfull for the Purchase of ₹<%= session[:amount] %><br>

Your Order has been Placed!!<br>
Detailed Email has been sent to you!!<br>
<a href="/gallery/index">Click here</a> to continue shopping!

